[package]
name = "akd"
version = "0.7.6"
authors = ["Harjasleen Malvai <hmalvai@fb.com>", "Kevin Lewi <klewi@fb.com>", "Sean Lawlor <seanlawlor@fb.com>"]
description = "An implementation of an auditable key directory"
license = "MIT OR Apache-2.0"
edition = "2018"
keywords = ["key-transparency", "akd"]
repository = "https://github.com/novifinancial/akd"
readme = "../README.md"
## Uncomment for automated building of the protobuf Rust sources. Necessary if the .proto specs change
# build = "src/build.rs"

# [build-dependencies]
# protobuf-codegen = "=3.2.0"
# protoc-bin-vendored = "3"

[features]
bench = ["public-tests"]
public-tests = ["rand", "bincode", "colored", "once_cell", "serde_serialization"]
public_auditing = ["protobuf", "thiserror"]
default = []
serde_serialization = ["serde", "ed25519-dalek/serde"]
# Represents that we're going to support a higher-level of parallelism and therefore should avoid
# usages of a RwLock around a HashMap which doesn't scale well for parallel access (i.e. in the storage
# caches)
high_parallelism = ["dashmap"]
# Add support for handling memory pressure process on the caches. This costs some performance, however 
# provides the ability to protect against OOMing
memory_pressure = []

[dependencies]
## Required dependencies ##
hex = "0.4"
async-trait = "0.1"
tokio = { version = "1.10", features = ["full"] }
async-recursion = "0.3"
log = { version = "0.4.8", features = ["kv_unstable"] }
winter-crypto = "0.2"
winter-utils = "0.2"
winter-math = "0.2"
keyed_priority_queue = "0.3"

## Optional Dependencies ##
dashmap = { version = "5", optional = true }
bincode = { version = "1", optional = true }
serde = { version = "1", features = ["derive"], optional = true }
rand = { version = "0.7", optional = true }
curve25519-dalek = "3"
ed25519-dalek = "1"
colored = { version = "2", optional = true }
once_cell = { version = "1", optional = true }
protobuf = { version = "=3.2.0", optional = true }
thiserror = { version = "1.0.30", optional = true }

[dev-dependencies]
criterion = "0.3"
serial_test = "0.5"
proptest = "1.0"
proptest-derive = "0.3"
colored = { version = "2" }
once_cell = { version = "1" }
ctor = "0.1"
tokio-test = "0.4"

akd = { path = ".", features = ["public-tests"] }

[[bench]]
name = "azks"
harness = false
required-features = ["bench"]
path = "../benches/azks.rs"
