name: CI
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test:
    name: Test Rust ${{matrix.toolchain}} on ${{matrix.os}}
    runs-on: ${{matrix.os}}-latest
    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable]
        os: [ubuntu]

    steps:
      - uses: actions/checkout@main

      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{matrix.toolchain}}
          override: true

      - name: Test the core crate (akd_core)
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd_core

      - name: Test the core crate (akd_core) with no standard library
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd_core --features nostd,blake3,vrf --no-default-features

      - name: Test the core crate (akd_core) with protobuf and serde enabled
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd_core --features protobuf,serde_serialization

      - name: Test the core crate (akd_core) with no standard library and Sha3 512 hashing
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd_core --features nostd,sha3_512,vrf --no-default-features

      - name: Test the base library, with default features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd

      - name: Test the base library, enabling runtime metrics processing
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd --features runtime_metrics

      - name: Test the local auditor, with default features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd_local_auditor

      - name: Test the base client library, with default features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd_client

      - name: Test the client for wasm and SHA3-256 hashing
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd_client --no-default-features --features wasm,sha3_256

      - name: Test AKD with protobuf serialization of the audit proofs
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd --features public_auditing

      - name: Test the lean client for wasm and BLAKE3 hashing
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd_client --no-default-features --features wasm,blake3

      - name: Test the lean client with protobuf serialization
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd_client --features protobuf_serialization

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Install minimal stable with clippy
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: clippy
          override: true

      - name: Run Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all -- -D clippy::all -D warnings

  rustfmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Install minimal stable with rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt
          override: true

      - name: Build library (make sure all build.rs files have generated necessary code)
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --package akd_core

      - name: Run rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  wasm-tests:
    name: WASM tests
    runs-on: ${{matrix.os}}-latest
    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable]
        os: [ubuntu]

    steps:
      - uses: actions/checkout@main

      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{matrix.toolchain}}
          override: true

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Test default profile (blake3)
        working-directory: ./akd_client
        run: wasm-pack test --node --features wasm

      - name: Test SHA3_256 and no default features
        working-directory: ./akd_client
        run: wasm-pack test --node --no-default-features --features wasm,sha3_256