name: CI
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, repoened, synchronize]

jobs:
  test:
    name: Test Rust ${{matrix.toolchain}} on ${{matrix.os}}
    runs-on: ${{matrix.os}}-latest
    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable]
        os: [ubuntu]

    steps:
      - uses: actions/checkout@main

      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{matrix.toolchain}}
          override: true

      - name: Set up protoc
        uses: arduino/setup-protoc@v1.1.2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Test the base library, with default features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd

      - name: Test the local auditor, with default features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd_local_auditor

      - name: Test the base client library, with default features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd_client

      - name: Test the client for wasm and SHA3-256 hashing
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd_client --no-default-features --features wasm,sha3_256,vrf

      - name: Test AKD with no-vrf support
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd --no-default-features --features public-tests

      - name: Test AKD with protobuf serialization of the audit proofs
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd --features public_auditing

      - name: Test the lean client for wasm and BLAKE3 hashing
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd_client --no-default-features --features wasm,blake3,vrf

      - name: Test the lean client for VRF verification
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package akd_client --features vrf

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Install minimal stable with clippy
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: clippy
          override: true

      - name: Set up protoc
        uses: arduino/setup-protoc@v1.1.2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all -- -D clippy::all -D warnings

  rustfmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Install minimal stable with rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt
          override: true

      - name: Run rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
